/* Style global pour la section Hero */
#accueil {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Swiper container */
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: visible !important;
}

/* Swiper Slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.swiper-slide img:hover {
  transform: scale(1.05);
  /* Légère animation de zoom lors du survol */
}

/* Enlever le background des boutons de navigation */
.swiper-button-prev,
.swiper-button-next {
  background: none !important;
  color: #fff !important;
}

/* Contenu de la section Hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.3);
  /* Ajouter un léger fond sombre pour améliorer la lisibilité */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* Ombre pour ajouter de la profondeur */
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.cta-button-hero {
  background-color: #ff5c5c;
  color: white;
  padding: 15px 30px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cta-button-hero:hover {
  background-color: brown;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  /* Ombre plus marquée au survol */
}

/* Responsivité */

/* Tablette */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.1rem;
  }

  .cta-button-hero {
    padding: 12px 25px;
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button-hero {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}